<html>
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' type='text/css' href='sample.css'>
  <style type="text/css">
    body {
     background-image: url(london.jpg);
    }
  </style>
</head>
<body>
<h1>HTMLで書きました。</h1>
<a href="london">LONDON</a>
<a href="newyork">NEWYORK</a>
</body>


</html>
