<html>
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' type='text/css' href='sample.css'>
  <style>
body {
  background-image: url(london.jpg);
}
</style>
</head>
<body>
<h1>LONDON</h1>
</body>
</html>
